---
"on":
  push:
    branches: [main]

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      paths_released: ${{ steps.release.outputs.paths_released }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: "${{ secrets.PAT_GITHUB_PR }}"
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json
          include-component-in-tag: true
      - name: Print release-please outputs
        run: |
          cat <<END
          ${{ toJSON(steps.release.outputs) }}
          END
        continue-on-error: true

  publish:
    needs: release-please
    if: needs.release-please.outputs.releases_created == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate:
          - http-adapter-isahc
          - plex-api
          - plex-cli
    steps:
      - name: Checkout sources
        if: contains(needs.release-please.outputs.paths_released, format('crates/{0}', matrix.crate))
        uses: actions/checkout@v5
      - name: Install stable toolchain
        if: contains(needs.release-please.outputs.paths_released, format('crates/{0}', matrix.crate))
        uses: dtolnay/rust-toolchain@stable
      - name: Publish crate
        if: contains(needs.release-please.outputs.paths_released, format('crates/{0}', matrix.crate))
        run: cargo publish -p ${{ matrix.crate }}
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CRATES_IO_TOKEN }}"
